
@{
    ViewData["Title"] = "Registered";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Registerer

    <h1>Thanks for registering @Model.FirstName @Model.LastName!</h1>
<h2>Your email: @Model.Email</h2>
<h2>Your phone number: @Model.PhoneNumber</h2>
<!--<h1>@Model.Password</h1>-->